"Geo Data Science with Python" 
### Notebook Exercise 6a

---

# Python Packages: NumPy & Matplotlib

This exercise containes exercises on the Python package NumPy and Matplotlib.

If you work in teams, please indicate your colaborators below!

In [ ]:
NAME = ""
COLLABORATORS = ""

---
# Part A: Data analysis with NumPy

This part of the assignment is meant to help you to understand how to use NumPy to do some basic data analysis and data manipulations using real data. In this exercise you are asked to analyze temperature data from Kumpula, Helsinki (in Southern Finland) and Rovaniemi (in northern Finland) and to explore how their summer temperatures have differed in 2017.

## Input data

We will use NOAA weather data. The data has been stored in a CSV file (comma delimited text file) which is stored in the data subdirectory: `./6153237444115dat.csv`.

You can read the full description of the data and all the attributes from this file:  `./3505doc.txt`.

The first five rows of the data look like following:

In [ ]:
# USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,H,VSB,MW,MW,MW,MW,AW,AW,AW,AW,W,TEMP,DEWP,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
# 028450,99999,201705010000,174,10,14,***,***,*,*,*,2.2,**,**,**,**,67,**,**,**,8,31,31,1009.2,*****,984.1,***,***,*****,*****,*****,*****,35
# 028450,99999,201705010020,180,10,***,4,***,*,*,*,2.9,**,**,**,**,10,**,**,**,*,30,30,******,29.74,******,***,***,*****,*****,*****,*****,**
# 028450,99999,201705010050,190,10,***,4,***,*,*,*,2.1,**,**,**,**,10,**,**,**,*,30,30,******,29.74,******,***,***,*****,*****,*****,*****,**
# 028450,99999,201705010100,188,12,16,***,***,*,*,*,3.2,**,**,**,**,77,**,**,**,*,31,30,1009.1,*****,984.0,***,***,*****,*****,*****,*****,35

**Note**: the data includes `*`-characters that represent no-data values.

The most important columns for this exercise are:

* **USAF** = the station ID number
    * 028450 : Rovaniemi
    * 029980 : Helsinki Kumpula
* **YR--MODAHRMN** = Year-Month-Day-Hour-Minute in Greenwich Mean Time (GMT)
* **TEMP** = Temperature in Fahrenheit
* **MAX** = Maximum temperature in Fahrenheit
* **MIN** = Minimum temperature in Fahrenheit

You should read in only those columns using the `usecols()` parameter in the `genfromtxt()` function in NumPy. Please refer to the [NumPy documentation for numpy.genfromtxt()](https://docs.scipy.org/doc/numpy/reference/generated/numpy.genfromtxt.html) to learn how to use this parameter.

---
## A.1: Basic statistics of the data 

(total of 9 points)

In this assignment part your task is to open and explore the NOAA weather data using NumPy. Please answer the given tasks and write your code into the codeblocks below.

---
### Task A.1.1

(4 points)

- **Import** the NumPy module **using the acronym `np`**
- **Read the data** using NumPy into a variable called **`data`** (1 point)
    - Note: We only want the `USAF`, `YR--MODAHRMN`, `TEMP`, `MAX`, and `MIN` columns from the data file
- **Split the data** into separate variables called `station`, `date`, `temp`, `temp_max`, and `temp_min`

In [ ]:
""" Add your code to import numpy and read the data"""

### ADD YOUR CODE

In [ ]:
# Test your code

print(station)
print(date)
print(temp)
print(temp_max)
print(temp_min)

---
### Task A.1.2

(2 points)

Next, in the codeblock below, request appropriate numpy attributes that provide answers to these following questions:

- What are the dimensions of the data? 
- What is the datatype of the data?

In [ ]:
""" Add your code to answer the questions"""

# Print the dimensions of the data:

# Print the datatype of the data:

In [ ]:
""" Add your code to print the answers to the questions"""

### ADD YOUR CODE

---
### Task A.1.3

(3 points)

Now, let's explore basic statistics in the data, with the functions `np.nanmean()`, `np.nanstd()` and `np.unique()`.
The first two functions calculate mean and standard deviation of a numpy array, ignoring all NaN values.

- What is the mean Fahrenheit temperature in the data (the `temp` variable)? Assign this number to the variable `temp_mean`.
- What is the standard deviation of the maximum temperature (the `temp_max` variable)? Assign this number to the variable `temp_max_std`.
- How many unique stations exists in the data (the `station` variable)? Use the numpy method `unique()` and assign this number to the variable `station_count`.

In [ ]:
""" Add your code to answer the questions"""

# Calculate mean temperature

# Calculate standard deviaton of the maximum temperature:

# Calculate number of unique stations:

In [ ]:
""" Add your code to print the answers to the questions"""

### ADD YOUR CODE

---
# A.2: Data manipulation 

(8 points)

We will keep working with data from the file '6153237444115dat.csv', which should be saved in the variable `data`, as well as in the individual column variables `station`, `date`, `temp`, `temp_max`, and `temp_min`. Work on the following tasks for data manipulation.

---
### Task A.2.1: Remove no data values

(3 points)

In the previous part, you had to use functions ignoring NaN values in the dataset. Now, we want to completely remove those datasets with nan-values. **Make sure that you comment your code (add inline comments explaining what your code does).**

In the codeblock below:

 - Create a new mask variable `tempmask` that is `True` for all finite temperature values, and `False` for `nan` values in the `temp` variable
 - Filter (remove) all rows from the column variables (`station`, `date`, `temp`, `temp_max`, and `temp_min`) using the `tempmask` array and save the new columns in the variables (`station_noNan`, `date_noNan`, `temp_noNan`, `temp_max_noNan`, and `temp_min_noNan`)

In [ ]:
""" Add your code to create the mask and assign variables"""

### ADD YOUR CODE

In [ ]:
# Check your results (for example using the len() function)
print(len(data))
print(len(temp_noNan))
print(len(station_noNan))

---
### Task A.2.2: Divide the data into two separate datasets

(4 points)

In this problem you should divide the data into separate subsets for different stations.

- Select all rows from the data arrays containin no nan-values into variable called `kumpula` where the `station` value is `29980` using an array mask called `kmask`
- Select all rows from the data arrays containin no nan-values into variable called `rovaniemi` where the `station` value is `28450` using an array mask called `rmask`
  
Please use the given variable names and write your answer into the code cell below.

Hint: the functions `vstack()` and `transpose()` might be useful for this task.

Note: Don't be surprised, if there are still nan-values in the dataset. Keep in mind, that you have (and should have) excluded only nan-values in the temperature column of the dataset.

In [4]:
""" Add your code to split the dataset"""

### ADD YOUR CODE

' Add your code to split the dataset'

In [ ]:
# Check the data (you don't need to modify this cell)
print("Kumpula: \n", kumpula[:5,:], "\n")
print("Rovaniemi: \n", rovaniemi[:5,:], "\n")

---
## Task A.2.3: Save the data into a csv-file

(1 point)

Now save the data for each station into a csv-file, using the savetext() function in the code cell below.

In [5]:
""" Add your code to save the dataset"""

### ADD YOUR CODE

' Add your code to save the dataset'

---
# A.3: Data analysis 

(9 points)

In this problem the aim is to understand the differences between temperatures in Helsinki Kumpula and Rovaniemi. The data are now stored in your variables `kumpula` and `rovaniemi`. Remember to comment your code.

---
### Task A.3.1

(1 point)

What was the median temperature during the observed period in:
  - Helsinki Kumpula? (store the answer in a variable `kumpula_median`
  - Rovaniemi? (store the answer in a variable `rovaniemi_median`

In [5]:
""" Add your code"""

### ADD YOUR CODE

' Add your code to save the dataset'

In [7]:
#Print the answer:
#print("Kumpula median: ", kumpula_median)
#print("Rovaniemi median: ", rovaniemi_median)

---
### Task A.3.2

(4 points)

The median temperatures above consider data from quite a long period of time (May-Aug), hence the differences might not be so clear.
**Let's now find out what the mean temperatures in May and June in Kumpula and Rovaniemi were:**

- Select from `rovaniemi` and `kumpula` arrays the rows where values of the `date` column are from May 2017
and assign them into mask variables `rovaniemi_may` and `kumpula_may`
- Repeat the procedure for the month of June and assign those values into mask variables `rovaniemi_june` and `kumpula_june`

In [ ]:
""" Enter code to make subset of the Kumpula and  
    Rovaniemi data for the 5th and 6th months"""

### ADD YOUR CODE

---
### Task A.3.3

(2 point)

Print the mean, min and max temperatures for both locations in May and June using the new masks (`rovaniemi_may`,`kumpula_may`,`rovaniemi_june` and `kumpula_june`).

In [5]:
""" Add your code"""

### ADD YOUR CODE

' Add your code to save the dataset'

---
### Task A.3.4

(2 points) 

Let's briefly interpret the results of this data analysis. Justify your answers to the following questions based on the data analysis results from this exercise (edit the markdown cell below to add your answers):

1. Does there seem to be a large difference in temperatures between the months?
2. Is Rovaniemi a much colder place than Kumpula?

ADD YOUR ANSWERS HERE!!!

---
# Part B: Plot your data

(total of 13 points)

## B.1: Compare time series from two locations.

(7 points) 

In the previous part of this assignment (A.3) you have extracted the hourly temperature measurements during the month of May, 2017 for the two locations *Kumpula* and *Rovaniemi*. These are still available in the numpy arrays `kumpula` and `rovaniemi`. Now you should plot the data, to compare them visually. You can also check if the plots supports your conclusion you made in task A.3.4. Make sure to comment your code as much as necessary.

Plot format & grading criteria:

1. The lines should be dashed with circles for the data points
2. The graph for *Kumpula* should be red, the graph for *Rovaniemi* should be blue
3. You should also include a title `"Kumpula & Rovaniemi Temperatures in May 2017"` 
4. X-label should be `"Time"`
5. Y-label should be `"Temperature [°F]"`
6. Mark the highest peak in one time series by adding text to the graph: `'High temperature in May 2017 (location)'`
7. save your figure in a .png image file.

In [5]:
""" Add your code to plot the data"""

### ADD YOUR CODE

' Add your code to save the dataset'

---
### B2: Plot with date labels

(6 points)

Add the following two items to your plot from the previous task:

* Add date labels to the x axis in datetime format `'%Y%m%d%H%M'`. <br> Hint: use the `plt.subplots()` function this time, but do not create rows or colums.
* Add a legend for the two colored graphs to the plot. You will have to self-study the solution for this!
* Add a grid to the background.

In [5]:
""" Add your code to plot the data"""

### ADD YOUR CODE

' Add your code to save the dataset'

---
If you are satisfied with your assignments, save it and make a backup. Then submit it to your homework repository.